@import url( https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap );
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    background-color: gray;
    text-align: center;
}
h1 
{
    font-size: 3em;
    font-weight: 600;
    color: #222;
    cursor: pointer; 
}
h1 span
{
    transition: 0.5s;
}
h1:hover span
{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 100px #fff;
}
h3 
{
    font-size: 2em;
    font-weight: 600;
    color: #222;
    cursor: pointer; 
}
h3 span
{
    transition: 0.5s;
}
h3:hover span
{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 100px #fff;
}
p 
{
    font-size: 1.5em;
    font-weight: 500;
    color: #222;
    cursor: pointer; 
}
p span
{
    transition: 0.5s;
}
p:hover span
{
    color: #fff;
    text-shadow: 0 0 5px red,
                 0 0 10px red,
                 0 0 20px red,
                 0 0 40px red,
                 0 0 80px red,
                 0 0 100px red;
}
a:link {
    color: gold;
}

a:visited {
    color: black
}

a:hover {
    color: red
}

a:active {
    color: blue
}