* {
    box-sizing: border-box;
}
    
body {
    background-color: grey;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    color: black;
    cursor: pointer; 
}

h1 span {
    transition: .5s;
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 400px;
    font-size: 2em;
    background-color: gray;
}

button {
    background-color: gray;
    font-size: 2em;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button span {
    transition: .5s;
}

button:hover span {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: red;
    background-color: gray;
}