body {
    background-color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

div {
    text-align: left;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #222;
    cursor: pointer; 
    text-align: center;
}

a:link {
    color: gold;
}

a:visited {
    color: black
}

a:hover {
    color: red
}

a:active {
    color: blue
}