body {
    background-color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: x-large;
    padding: 1em;
    box-sizing: border-box;
    cursor: pointer; 
}

div {
    text-align: left;
}

nav {
    padding-top: 1.25em;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: #222;
    text-align: center;
}

a:link {
    color: gold;
}

a:visited {
    color: black
}

a:hover {
    color: red
}

a:active {
    color: blue
}

a {
    text-decoration: none;
}